

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}



/* Set core body defaults */


html, body {
  box-sizing: border-box;
  background-color: #050E2D;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  height: 100%;
  width: 100%;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}



/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}
.info {
    background-color: lightsteelblue;
}

.darkslategray {background-color:#050E2D ;}

span {
  color:red
}

#map { height: 180px; }

.sidebar {
  width: 200px;
  background-color: #050E2D;
  padding: 0px;
  height: 70vh;
  
}

.content {
  flex: 1;
  padding: 5px;
  background-color: #ffffff;
}
.container { display: flex}

.main {flex: 1}